.grow,
.statusButton:hover > .sapMBtnHoverable {
  transition: all 0.2s ease-in-out;
}
.grow:hover,
.statusButton:hover > .sapMBtnHoverable:hover {
  transform: scale(1.25);
}
@font-face {
  font-family: "Emirates-Plain";
  src: url("../fonts/Emirates/EK03Plain-B01.ttf");
  font-style: normal;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
@font-face {
  font-family: "Emirates-Plain";
  src: url("../fonts/Emirates/EK03Plain-M01.ttf");
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
@font-face {
  font-family: "Emirates-Plain";
  src: url("../fonts/Emirates/EK03Plain-L01.ttf");
  font-style: normal;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
@font-face {
  font-family: "Emirates-Serif";
  src: url("../fonts/Emirates/EK03Serif-B01.ttf");
  font-style: normal;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
@font-face {
  font-family: "Emirates-Serif";
  src: url("../fonts/Emirates/EK03Serif-M01.ttf");
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
@font-face {
  font-family: "Emirates-Serif";
  src: url("../fonts/Emirates/EK03Serif-L01.ttf");
  font-style: normal;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
@font-face {
  font-family: "Helvetica-Neue";
  src: url("../fonts/Helvetica-Neue/HelveticaNeue.ttf");
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
@font-face {
  font-family: "Helvetica-Neue";
  src: url("../fonts/Helvetica-Neue/HelveticaNeueBd.ttf");
  font-style: normal;
  font-weight: bold;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
@font-face {
  font-family: "Helvetica-Neue";
  src: url("../fonts/Helvetica-Neue/HelveticaNeueHv.ttf");
  font-style: normal;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
@font-face {
  font-family: "Helvetica-Neue";
  src: url("../fonts/Helvetica-Neue/HelveticaNeueIt.ttf");
  font-style: italic;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
@font-face {
  font-family: "Helvetica-Neue";
  src: url("../fonts/Helvetica-Neue/HelveticaNeueLt.ttf");
  font-style: normal;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
@font-face {
  font-family: "Iconography";
  src: url('../fonts/Iconography/iconography.eot');
  src: url('../fonts/Iconography/iconography.eot?#iefix') format('embedded-opentype'), url('../fonts/Iconography/iconography.woff') format('woff'), url('../fonts/Iconography/iconography.ttf') format('truetype'), url('../fonts/Iconography/iconography.svg#iconography') format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
.library-iconography [class^="icon-"],
.library-iconography [class*="icon-"] {
  font-family: "iconography";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fixHeader,
.sapMPage > .sapMPageHeader + section,
.sapMPage > .sapMPageSubHeader + section,
.sapMPage > .sapMPageHeader + .sapMPageSubHeader + section {
  top: 136px;
  right: unset;
  bottom: 0;
  left: unset;
}
.toolBar,
.sapMPageHeader.sapMIBar {
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-items: stretch;
  justify-content: center;
  height: 88px;
  background-image: linear-gradient(-180deg, #F2F1ED 0%, #E5E2DC 100%);
  background-image: url('../img/header-background.png');
}
.toolBar > *:nth-child(1),
.sapMPageHeader.sapMIBar > *:nth-child(1) {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 0 10px;
}
.toolBar > *:nth-child(2),
.sapMPageHeader.sapMIBar > *:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.toolBar > *:nth-child(3),
.sapMPageHeader.sapMIBar > *:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-self: center;
}
.toolBar > *:nth-child(4),
.sapMPageHeader.sapMIBar > *:nth-child(4) {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: row;
}
.stats .sapMObjectIdentifier {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "text title";
}
.stats .sapMObjectIdentifier .sapMObjectIdentifierTopRow {
  grid-area: title;
}
.stats .sapMObjectIdentifier .sapMObjectIdentifierTextBellow {
  grid-area: text;
  text-align: right;
  padding-right: 0.5rem;
}
.stepStatus,
.statusButton .sapMBtnInner {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 100%;
  height: 25px;
  min-width: 25px;
  outline: none;
}
.statusButton.alertRed > .sapMBtnInner {
  background: #fc0d1b;
}
.statusButton.alertAmber > .sapMBtnInner {
  background: #e8a04b;
}
.uldalign {
  margin-top: 0.5rem;
}
.uldnumbers {
  display: grid;
  color: #A49552;
}
.uldbox {
  display: inline;
}
.uldnumbers .sapMObjectNumberUnit {
  transform: translateY(-0.3rem);
}
.uldnumbers .sapMObjectNumberText {
  font-size: 20px;
}
.uldBtn {
  padding: 1rem;
  outline: none;
  font-family: 'Emirates-Serif', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #9D9991;
  letter-spacing: 0.4px;
  text-align: center;
  background-color: #9D9991;
  border-radius: 10px;
  height: 80%;
}
.uldBtn .sapMBtnInner {
  color: white;
  text-shadow: 0 0 0;
}
.sapUiBody {
  background-image: url(../img/background.png);
  background-repeat: repeat;
  background-position: unset;
  background-size: unset;
}
.sapUiGlobalBackgroundColor {
  background: unset;
}
.sapUiComponentContainer {
  margin: 1.5% 5% 0 5%;
  width: unset !important;
}
.sapMNav {
  overflow: unset;
}
.sapMPage {
  width: 100%;
}
.sapMPageHeader {
  box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.075) !important;
}
.sapMPageSubHeader {
  background-image: linear-gradient(-180deg, #F2F1ED 45%, #E5E2DC 65%);
  height: calc(43.5%);
  margin-top: 10px;
}
.sapMPageSubHeader .sapMIBar {
  background: unset;
  border-style: none;
}
.sapMPageSubHeader .sapMIBar .sapMBarChild {
  margin: 0;
  padding-top: 0;
}
.sapMPageSubHeader .sapMObjStatusText {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #8C7300;
  letter-spacing: 0;
  margin-left: 20px;
}
.sapMPageSubHeader:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 98px;
  box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.075) !important;
}
.connectingFlights .sapMIBar {
  background-image: linear-gradient(-180deg, #F1EFEC 34%, #E8E3DF 73%);
  box-shadow: 0 5px 10px 0 rgba(191, 187, 181, 0.52);
}
.bags .sapMIBar {
  background-color: #F1EFEC;
}
.sapMListTbl .sapMListTblHeader,
.sapMListTbl th {
  background: unset;
  border-style: none;
}
.sapMListTbl .sapMListTblRow {
  background: unset;
}
.sapMListTbl .sapMListTblStickyColHdr > .sapMTableTH {
  box-shadow: 0 5px 10px 0 rgba(191, 187, 181, 0.52);
  clip-path: inset(-15px 0px);
}
.connectingFlights .sapMListTbl .sapMListTblStickyColHdr > .sapMTableTH {
  background-image: linear-gradient(-180deg, #F1EFEC 34%, #E8E3DF 73%);
}
.bags .sapMListTbl .sapMListTblStickyColHdr > .sapMTableTH {
  background-image: linear-gradient(-180deg, #F1EFEC 34%, #E8E3DF 73%);
}
.ulds .sapMListTbl .sapMListTblStickyColHdr > .sapMTableTH {
  background: #F6F4F1;
  box-shadow: none;
}
.connectingFlights .sapMListTbl,
.bags .sapMListTbl {
  background: #F6F4F1;
}
.uldJourney .sapMListTbl {
  background-image: linear-gradient(-180deg, #FBFAF9 0%, #EEEAE5 100%);
}
.bags .sapMListTbl .sapMListTblCell:nth-child(even):not(.sapMListTblHeaderCell),
.ulds .sapMListTbl .sapMListTblCell:nth-child(even):not(.sapMListTblHeaderCell) {
  background: #F9F9F9;
}
.connectingFlights .sapMListTbl .sapMListTblCell,
.uldJourney .sapMListTbl .sapMListTblCell {
  border-style: none !important;
}
.sapMListTblRow {
  position: relative;
}
.sapMTableTBody {
  background: transparent;
}
.uldJourney,
.ulds {
  margin: 0 auto;
}
.sapMText {
  font-family: 'Emirates-Serif', Helvetica, Arial, sans-serif;
}
.sapMObjectIdentifierTitle .sapMText {
  font: bold 16px 'Emirates-Serif', Helvetica, Arial, sans-serif;
  color: #8A8A8A;
  letter-spacing: 0;
  line-height: 21px;
}
.stats .sapMObjectIdentifierTitle .sapMText {
  font: medium 12px 'Emirates-Serif', Helvetica, Arial, sans-serif;
}
.flight .sapMObjectIdentifierTitle .sapMText {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #8A8A8A;
  letter-spacing: 0;
  line-height: 0px;
}
.bagsPane .sapMListHdrTBar .sapMObjectIdentifierTitle .sapMText {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #656565;
  letter-spacing: 0;
}
.sapMObjectIdentifierText .sapMText {
  font: bold 16px 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  color: #A49552;
  letter-spacing: 0;
  line-height: 21px;
}
.stats .sapMObjectIdentifierText .sapMText {
  font: bold 20px 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}
.flight .sapMObjectIdentifierText .sapMText {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #8A8A8A;
  letter-spacing: 0;
  line-height: 0px;
}
.bagsPane .sapMListHdrTBar .sapMObjectIdentifierText .sapMText {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #656565;
  letter-spacing: 0;
}
.sapMListTblCell .sapMText {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #787878;
  letter-spacing: 0;
  text-align: center;
}
.sapMText.flightNumber {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #5F5F5F;
  letter-spacing: 0;
}
.sapMTableTH .sapMText {
  font-family: 'Emirates-Serif', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #7A7A7A;
  letter-spacing: 0;
}
.connectingFlights .sapMTableTH .sapMText {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #797062;
}
.bags .sapMTableTH .sapMText {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #797062;
  text-align: center;
  line-height: 13px;
}
.ulds .sapMTableTH .sapMText {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #867E72;
  letter-spacing: 0;
  text-align: center;
  line-height: 13px;
}
.sapMObjStatus {
  margin: unset !important;
}
.sapMObjStatus.sapMObjectAttributeDiv {
  padding-left: 10px;
}
.sapMObjStatus .sapMObjStatusTitle,
.sapMObjStatus .sapMText {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 13px;
  color: #8A8A8A;
}
.sapMObjStatus .sapMObjStatusText:not(.sapMTB .sapMObjStatus .sapMObjStatusText) {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 13px;
}
.sapMObjStatus .sapUiIcon {
  font-size: 12px !important;
}
.sapMObjStatus .sapMTextMaxLine {
  overflow: unset;
}
.sapMSF {
  background: #F9F9F9;
  border: 1px solid #CEC8C1;
  border-radius: 100px;
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.sapMSF .sapMSFF {
  background: unset;
  border-style: none;
  color: #d1d1d1;
  height: 100%;
}
.sapMSF .sapMSFI {
  height: 30px;
}
.sapMSF .sapMSFB {
  width: 30px;
  height: 30px;
  line-height: 2.38rem;
  right: 10px;
  top: -5px;
  color: #D1D1D1;
}
.sapMObjectIdentifierTextBellow {
  margin-top: 0;
}
.bagsPane .sapMListHdrTBar .sapMObjectIdentifier {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "text title";
}
.bagsPane .sapMListHdrTBar .sapMObjectIdentifier .sapMObjectIdentifierTopRow {
  grid-area: title;
}
.bagsPane .sapMListHdrTBar .sapMObjectIdentifier .sapMObjectIdentifierTextBellow {
  grid-area: text;
  text-align: right;
  padding-right: 0.5rem;
}
.statusButton .sapMBtnInner {
  text-shadow: unset;
}
.statusButton .sapMBtnInner .sapMBtnIcon {
  color: #FFF;
  font-size: 0.9rem;
  line-height: 1.5rem;
  width: auto;
}
.statusButton.notStarted > .sapMBtnInner {
  background: #f7f7f7;
}
.statusButton.started > .sapMBtnInner {
  background: #91B0BC;
}
.statusButton.complete > .sapMBtnInner {
  background: #91B0BC;
}
.statusButton.error > .sapMBtnInner {
  background: #ff0000;
}
.bagJourney .journeyProgressBar > *:first-child {
  left: calc(5%);
  width: calc(100% - 10% - 0%) !important;
  position: absolute;
}
.connectingFlights .journeyProgressBar > *:first-child {
  left: calc(5%);
  width: calc(100% - 10% - -0.75rem) !important;
  position: absolute;
}
.uldJourney .journeyProgressBar > *:first-child {
  left: calc(10%);
  width: calc(100% - 20% - 0%) !important;
  position: absolute;
}
.sapMPI {
  background-color: #ffffff;
  height: 14px;
  margin: 1rem 0 0 0;
}
.sapMPI .sapMPIBarNeutral {
  background-color: #d4e1e6;
}
.sapMPI .sapMPIBarRemaining {
  border-style: none;
}
.sapUiResponsiveSplitter {
  background-color: #F6F4F1;
}
.navigation {
  width: 50%;
}
.navigation.sapMSegB .sapMSegBBtn {
  width: 100% !important;
  padding: 0;
  outline: none;
  font-family: 'Emirates-Serif', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #9D9991;
  letter-spacing: 0.4px;
  text-align: center;
}
.navigation.sapMSegB .sapMSegBBtn:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.navigation.sapMSegB .sapMSegBBtn:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navigation.sapMSegB .sapMSegBBtn:not(.sapMSegBBtnSel) {
  background-image: linear-gradient(-180deg, #F4F2EF 0%, #F3F1EE 49%, #EAE7E0 52%, #E9E5DE 100%);
  border: 1px solid #F6F3ED;
  box-shadow: 0 2px 4px 0 rgba(176, 166, 150, 0.51);
}
.navigation.sapMSegB .sapMSegBBtn.sapMSegBBtnSel {
  background-image: linear-gradient(-180deg, #CCCCCB 0%, #B7B4AE 49%, #A09D96 100%);
  border: 1px solid #B4B1AD;
  box-shadow: 0 2px 4px 0 rgba(176, 166, 150, 0.51);
  color: #FFFFFF;
}
.navigation.sapMSegB .sapMSegBBtn.sapMSegBBtnFocusable.sapMSegBBtnSel:hover {
  background-image: linear-gradient(-180deg, #CCCCCB 0%, #B7B4AE 49%, #A09D96 100%);
  border: 1px solid #B4B1AD;
  box-shadow: 0 2px 4px 0 rgba(176, 166, 150, 0.51);
  color: #FFFFFF;
}
.parallelogram {
  height: 100% !important;
  width: 25% !important;
}
.parallelogram.sapMSegB .sapMSegBBtn {
  height: 100%;
  padding: 0;
  outline: none;
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0.4px;
  text-align: center;
}
.parallelogram.sapMSegB .sapMSegBBtn:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.parallelogram.sapMSegB .sapMSegBBtn:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.parallelogram.sapMSegB .sapMSegBBtn:not(.sapMSegBBtnSel) {
  background: #E8E4E0;
  color: #797062;
  border-style: none;
}
.parallelogram.sapMSegB .sapMSegBBtn.sapMSegBBtnSel {
  background: #797062;
  border-style: none;
  color: #FFFFFF;
}
.parallelogram.sapMSegB .sapMSegBBtn.sapMSegBBtnFocusable.sapMSegBBtnSel:hover {
  background: #797062;
  color: #FFFFFF;
}
.sapUiLoSplitterBar {
  min-height: 20px;
  background-image: linear-gradient(-180deg, #FCFCFC 16%, #D7D7D7 100%);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.23);
}
.sapUiLoSplitterBarIcon {
  display: none;
}
.sapMDialog {
  border-radius: 20px;
}
.sapMDialog .sapMDialogSubHeader > .sapMBar {
  background: #F6F4F1 !important;
  box-shadow: none !important;
}
.sapMDialog > .sapMDialogSection {
  background: #F6F4F1;
}
.sapMDialog #dialogButton-inner {
  color: #FFFFFF;
  border: 2px solid #F6F4F1;
  opacity: 0.58;
  background: #BBAC98;
  border-radius: 100%;
}
.sapMDialog #dialogButton-img {
  color: #FFFFFF;
}
.flight {
  display: grid;
  grid-template-columns: 1fr 0.75fr 0.75fr 0.75fr 0.1fr;
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 275px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}
.flight:before {
  background-color: white;
  border-radius: 2px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1.05rem;
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
  top: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.23);
  clip-path: inset(-5px -5px 1px -5px);
}
.flight:after {
  background-image: linear-gradient(0deg, #F5F5F5 0%, #FFFFFF 55%);
  border-radius: 2px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1.05rem;
  transform: skew(-45deg);
  bottom: 0;
  z-index: -1;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.23);
}

/*# sourceMappingURL=sourcemaps/style.css.map */
